<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= data.client %> - Order of Payment</title>
    <link rel="stylesheet" href="/css/templatescss/orderofpayment.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
  </head>
  <body>
    <div class="page-container" id="page-container">
      <%- include('./partials/orderofpayment1') %>

      <div class="cut-line"></div>

      <%- include('./partials/orderofpayment1') %>
    </div>
    <!-- <div class="print-button">
      <button id="printbtn">Print/Save as PDF</button>
    </div> -->
    <script>
      const clientname = '<%- JSON.stringify(data.client) %>';
      const permittype = '<%- JSON.stringify(data.permittype) %>';
      const permisubtype = '<%- JSON.stringify(data.permitsubtype) %>';
      const client = clientname.replaceAll('"', "");
      const permit = permittype.replaceAll('"', "");
      const psubtype = permisubtype.replaceAll('"', "");

      let pdfname = "Order of Payment.pdf";

      if(psubtype != ""){
         pdfname = `${client.toUpperCase()} ${permit} ${permisubtype} Order Of Payment.pdf`;
      }else{
         pdfname = `${client.toUpperCase()} ${permit} Order Of Payment.pdf`;
      }

    //   document.getElementById('printbtn').addEventListener('click', () => {
    //   const content = document.getElementById('page-container').innerHTML;
    //   const printWindow = window.open('', '', 'height=800,width=800');
    //   printWindow.document.write('<html><head><title>Order of Payment</title>');
    //   printWindow.document.write('<link rel="stylesheet" href="/css/templatescss/orderofpayment.css" type="text/css" />');
    //   printWindow.document.write('</head><body>');
    //   printWindow.document.write(content);
    //   printWindow.document.write('</body></html>');
    //   printWindow.document.close();
    //   printWindow.focus();
    //   printWindow.print();
    //   // printWindow.close();
    // });


  //     console.log(client, permit);

  //     window.onload = async () => {
  //       const element = document.getElementById('page-container');
  //       const canvas = await html2canvas(element);
  //       const imgData = canvas.toDataURL('image/png');

  //       const { jsPDF } = window.jspdf;
  //       const pdf = new jsPDF();

  //       const imgProps = pdf.getImageProperties(imgData);
  //       const pdfWidth = pdf.internal.pageSize.getWidth();
  //       const pdfHeight = (imgProps.height * pdfWidth) / imgProps.width;

  //       pdf.addImage(imgData, 'PNG', 0, 0, pdfWidth, pdfHeight);
  //       pdf.save(`${pdfname}`);
  //       window.close();
  // };
    </script>
  </body>
</html>
