<div class="top-label">Appendix 28</div>

<div class="form-container" style="margin-bottom: 50px">
  <div class="form-header">
    <div id="top-content">
      <strong>Entity Name:</strong>
      <a href="#" style="font-weight: bold"
        >DENR-CAR, PENRO-Benguet, CENRO-Baguio</a
      ><br />
      <strong>Fund Cluster:</strong>
      <a href="#" style="font-weight: bold"
        >Regular Agency Fund 101, GENERAL FUND</a
      >
    </div>
    <div style="text-align: right" id="top-content">
      <strong>Serial No.:2025 - ___________</strong><br />
      <strong
        >Date:
        <strong
          id="datenow"
          style="border-bottom: 1px solid black"
        ><%= data.datenow %></strong
      ></strong>
    </div>
  </div>

  <div class="form-title">ORDER OF PAYMENT</div>

  <div class="section" id="sender">
    <strong>The Collecting Officer</strong><br />
    PSU, CENRO-Baguio
  </div>

  <div class="section">
    <table style="margin-bottom: 0px">
      <tr>
        <td style="text-align: right; font-size: 11px">
          Please issue Official Receipt in favor of
        </td>
        <td
          style="
            text-align: center;
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
            border-bottom: 1px solid black;
          "
          id="clientdata"
        >
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= data.client %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
      </tr>
      <tr>
        <td></td>
        <td style="text-align: center">
          <strong style="font-size: 10px">(Name of Payor)</strong>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td style="border-bottom: 1px solid black">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td
          style="
            text-align: center;
            text-transform: uppercase;
            border-bottom: 1px solid black;
            font-family: Arial, Helvetica, sans-serif;
          "
          id="clientdata"
        >
        <%= data.address %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td style="text-align: center" id="sub">
          <strong>(Address/Office of Payor)</strong>
        </td>
      </tr>
    </table>
  </div>

  <div class="section amount-section">
    <table>
      <tr>
        <td style="font-size: 11px">In the amount of</td>
        <td style="border-bottom: 1px solid black; font-weight: bold">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td id="amountinwords"><%= data.totalfeeinwords %> PESOS</td>
        <td style="border-bottom: 1px solid black">(₱</td>
        <td
          style="
            text-align: center;
            border-bottom: 1px solid black;
            font-weight: bold;
          "
          id="amount"
        >
          <%= data.totalfee %>
        </td>
        <td>)</td>
      </tr>
      <!-- <tr>
        <td></td>
        <td></td>
        <td style="font-size: 10px; text-align: center" id="sub">
          (Amount in Words)
        </td>
        <td></td>
        <td style="font-size: 10px; text-align: center" id="sub">
          (Amount in Figures)
        </td>
      </tr> -->
    </table>
  </div>

  <table>
    <tr>
      <td style="border-bottom: 1px solid black; font-size: 11px">
        for payment of: <strong>(FMS)</strong>
      </td>
      <td>/</td>
      <td
        style="
          border-bottom: 1px solid black;
          text-align: center;
          font-family: Arial, Helvetica, sans-serif;
        "
      >
        <strong id="fee"
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= data.fee1 %>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong
        >
      </td>
      <td style="border-bottom: 1px solid black">-</td>
      <td style="border-bottom: 1px solid black">&#x20B1;</td>
      <td
        style="text-align: left; border-bottom: 1px solid black"
        id="amount"
      >
      <%= data.fee1_amount %>
      </td>
    </tr>
    <tr>
      <td style="border-right: 1px solid black">
        <strong style="border-bottom: 1px solid black; font-style: italic"
          >- <%= data.permittype %> (TCP)</strong
        >
      </td>
      <td>/</td>
      <td
        style="
          border-bottom: 1px solid black;
          text-align: center;
          font-family: Arial, Helvetica, sans-serif;
        "
      >
        <strong id="fee"
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= data.fee2 %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong
        >
      </td>
      <td style="border-bottom: 1px solid black">-</td>
      <td style="border-bottom: 1px solid black">&#x20B1;</td>
      <td
        style="border-bottom: 1px solid black; text-align: left"
        id="amount"
      ><%= data.fee2_amount %></td>
    </tr>
    <tr>
      <td
        style="
          border-right: 1px solid black;
          border-bottom: 1px solid black;
        "
      ></td>
      <td style="text-align: center; border-bottom: 1px solid black">
        /
      </td>
      <td
        style="
          border-bottom: 1px solid black;
          text-align: center;
          font-family: Arial, Helvetica, sans-serif;
        "
      >
        <strong id="fee"
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= data.fee3 %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong
        >
      </td>
      <td style="border-bottom: 1px solid black">-</td>
      <td style="border-bottom: 1px solid black">&#x20B1;</td>
      <td
        style="border-bottom: 1px solid black; text-align: left"
        id="amount"
      ><%= data.fee3_amount %></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td style="text-align: center">
        <strong style="font-size: 10px">(Purpose)</strong>
      </td>
      <td></td>
    </tr>
  </table>

  <div class="section" style="font-size: 11px">
    Per bill No. ____________ dated ____________
  </div>
  <br />
  <div class="section">
    <strong style="font-size: 11px"
      >Please deposit the collections under Bank Account/s:</strong
    ><br /><br />
    <table style="margin-bottom: 10px; font-size: 11px">
      <tr style="text-align: center">
        <td><a href="#" style="color: black">No.</a></td>

        <td><a href="#" style="color: black">Name of Bank</a></td>

        <td>
          <a href="#" style="color: black; margin-left: 50px">Amount</a>
        </td>
      </tr>
      <tr>
        <td style="text-align: center">
          <a href="#" style="color: black">3402-28844-20</a>
        </td>

        <td style="text-align: center">
          <a href="#" style="color: black"
            >LBP-Calderon St., Baguio City</a
          >
        </td>
        <td style="text-align: right">
          &#x20B1;<a
            href="#"
            style="color: black; border-bottom: 2px double black"
            id="amount"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= data.totalfee %></a
          >
        </td>
      </tr>
    </table>
  </div>

  <div class="section">
    OR No.: ____________<br />
    Date: ______________
  </div>

  <div class="signature-block">
    <div class="signature-container">
      <strong>ENGR. LEANDRO L. DE JESUS</strong><br />
      CENR
      Officer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </div>

  <div class="page-number">84</div>
</div>